.img {
  width: 400px;
}

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  text-align: center;
}

body {
  background-color: #fff;
}
